{% extends 'base.html' %}
{% block content %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ pokemon.name }}</span>
        <p>Breed: {{ pokemon.breed }}</p>
        <p>Description: {{ pokemon.description }}</p>
        {% if pokemon.age > 0 %}
            <p>Age: {{ pokmemon.age }}</p>
        {% else %}
            <p>Age: Pokemon</p>
        {% endif %}
    </div>
<div class="card-action">
    <a href="{% url 'pokemons_update' pokemon.id %}">Edit</a>
    <a href="{% url 'pokemons_delete' pokemon.id %}">Delete</a>
  </div>
</div>
{% endblock %}