{% extends 'base.html' %}
{% block content %}

<h1>Pokemon Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ pokemon.name }}</span>
        <p>Breed: {{ pokemon.breed }}</p>
        <p>Description: {{ pokemon.description }}</p>
        {% if pokemon.age > 0 %}
            <p>Age: {{ pokmemon.age }}</p>
        {% else %}
            <p>Age: Pokemon</p>
        {% endif %}
    </div>
    <div class="card-action">
    <a href="{% url 'pokemons_update' pokemon.id %}">Edit</a>
    <a href="{% url 'pokemons_delete' pokemon.id %}">Delete</a>
  </div>
</div>
{% for photo in pokemon.photo_set.all %}
<img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
<div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<form action="{% url 'add_photo' pokemon.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Photo">
</form>
</div>
<div class="col s6">
  <form action="{% url 'add_training' pokemon.id %}" method="post">
    {% csrf_token %}
    {{training_form.as_p}}
    <input type="submit" class="btn" value="Add Training">
  </form>
  <table class="striped">
    <thead>
      <tr><th>Date</th><th>Name</th></tr>
    </thead>
    <tbody>
      {% for training in pokemon.training_set.all %}
        <tr>
          <td>{{training.date}}</td>
          <td>{{training.name}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<hr>
<div class="row">
<div class="col s6">
  <h3>{{ pokemon.name }}'s Moves</h3>
  {% if pokemon.moves.count %}
    {% for move in pokemon.moves.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <span></span> {{ move.name }}
          </span>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>No Moves :(</h5>
  {% endif %}
</div>
<div class="col s6">
  <h3>Available Moves</h3>
  {% if moves.count %}
    {% for move in moves.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            <span></span> {{ move.name }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_move' pokemon.id move.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>{{pokemon.name}} Already Has All Moves Available</h5>
  {% endif %}
</div>
<!-- Available toys will come after this line -->
</div>
<script>
const dateEl = document.getElementById('id_date');
M.Datepicker.init(dateEl, {
  format: 'yyyy-mm-dd',
  defaultDate: new Date(),
  setDefaultDate: true,
  autoClose: true
});
const selectEl = document.getElementById('id_type');
M.FormSelect.init(selectEl);
</script>
{% endblock %}